# Docs for codeowners https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Make Team Scenes & Predictions default PR reviewer for this repo

- @annotell/scenes-and-predictions

# Make team data quality owner of dataset exploration directory

docs-src/docs/dataset-exploration @annotell/data-quality
