/**
 * When using Docosaurus <details> tag, our theme colors are not applied.
 * This is required to apply our theme colors to content inside the <details> tag.
 */
.tabs .tabs__item--active {
  color: var(--kognic-lavender);
  border-bottom-color: var(--kognic-lavender);
}

details {
  background-color: white !important;
  border: 1px solid var(--kognic-lavender) !important;

  /* Fixes margin jumping around when expanding/collapsing */
  h2 {
    margin: 0;
  }

  /* Override horizontal line */
  [class^="collapsibleContent"] {
    border-top: 1px solid var(--kognic-lavender) !important;
  }
}

.alert a {
  color: var(--kognic-lavender);
  text-decoration-color: var(--kognic-lavender);
}

.tabs {
  color: #525860;
}
