/**
 * When using Docosaurus <details> tag, our theme colors are not applied.
 * This is required to apply our theme colors to content inside the <details> tag.
 */

details {
  /* Fixes margin jumping around when expanding/collapsing */
  h2 {
    margin: 0;
  }
}

/* Light mode */
html[data-theme="light"] {
  details {
    background-color: white;
    border: 1px solid var(--ifm-color-primary);

    .tabs {
      color: #525860;
    }

    .tabs .tabs__item--active {
      color: var(--ifm-color-primary);
      border-bottom-color: var(--ifm-color-primary);
    }

    .alert a {
      color: var(--ifm-color-primary);
      text-decoration-color: var(--ifm-color-primary);
    }

    /* Override horizontal line */
    [class^="collapsibleContent"] {
      border-top: 1px solid var(--ifm-color-primary);
    }
  }
}

/* Dark mode */
html[data-theme="dark"] {
  details {
    background-color: var(--ifm-background-color);
    border: 1px solid var(--ifm-color-primary);

    .tabs .tabs__item--active {
      color: var(--ifm-color-primary);
      border-bottom-color: var(--ifm-color-primary);
    }

    .tabs .tabs__item--active {
      color: var(--ifm-color-primary);
      border-bottom-color: var(--ifm-color-primary);
    }

    .alert a {
      color: var(--ifm-color-primary);
      text-decoration-color: var(--ifm-color-primary);
    }

    /* Override horizontal line */
    [class^="collapsibleContent"] {
      border-top: 1px solid var(--ifm-color-primary);
    }
  }
}
